<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOGIN_PATH</key>
	<string>login_iphone.svc</string>
	<key>ROLE_SELECT_PATH</key>
	<string>role_select_for_ios.svc</string>
	<key>TOOLBAR_ACTION_QUERY_PATH</key>
	<string>autocrud/ios.ios_approve.ios_workflow_approve_action_query/query</string>
	<key>EXEC_ACTION_UPDATE_PATH</key>
	<string>autocrud/ios.ios_approve.ios_workflow_approve_action_submit/update</string>
	<key>APPROVE_SCREEN_BASE_PATH</key>
	<string>modules/ios/ios_approve/</string>
	<key>APPROVE_TABLE_QUERY_URL</key>
	<string>autocrud/ios.ios_wfl.wfl_workflow_instance_for_todo_for_ios/query?_fetchall=true&amp;amp;_autocount=false</string>
	<key>APPROVE_TABLE_BATCH_COMMIT_back</key>
	<string>autocrud/ios.ios_approve.ios_workflow_approve_batch_commit/execute</string>
	<key>APPROVE_TABLE_BATCH_COMMIT_back_2</key>
	<string>Approve</string>
	<key>APPROVE_TABLE_BATCH_COMMIT</key>
	<string>autocrud/ios.ios_approve.ios_workflow_approve_batch_commit/execute</string>
</dict>
</plist>
