<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>http://172.20.0.20:8080/hr_new/</string>
	<key>LOGIN_PATH</key>
	<string>login.svc</string>
	<key>WRITE_SESSION_PATH</key>
	<string>role_select.svc</string>
	<key>TOOLBAR_ACTION_QUERY_PATH</key>
	<string>autocrud/ios.IOS_APPROVE.ios_workflow_approve_action_query/query</string>
	<key>EXEC_ACTION_UPDATE_PATH</key>
	<string>autocrud/ios.IOS_APPROVE.ios_workflow_approve_action_submit/update</string>
	<key>APPROVE_SCREEN_BASE_PATH</key>
	<string>modules/ios/IOS_APPROVE/</string>
	<key>APPROVE_TABLE_QUERY_URL</key>
	<string>autocrud/ios.IOS_APPROVE.ios_workflow_approve_query/query</string>
</dict>
</plist>
